<div *ngIf="isLoggedIn">
  <nav  id="mySidenav" class="sidenav">
    
    <ul class="list-unstyled component test">
      <li>
        <a routerLink="/signin" (click)="logout() && closeNav()">Log out</a>
      </li>
    </ul>
      <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>
    
  </nav>

  <ngx-float-item-button class="menu" (click)="openNav()" icon="menu" content="float item 1"></ngx-float-item-button>
</div>
  <div id="main">
    <router-outlet></router-outlet>        
  </div>

  