<div class="custom">
    <div *ngIf="companies!=null">
        <div id="topjob">
            <div id="left">
                <h2 style="text-align: center; display: inline-block;">Your companies</h2>
            </div>
            <div id="right">
                <button mat-raised-button color="primary" (click)="addCompany()">Add company</button>
            </div>
        </div>

        <mat-divider style="margin-top: 20px;"></mat-divider>
        <div class="companies" *ngFor="let company of companies">
            <a routerLink="/in-company/{{company.id}}">
                <div class="company">
                    {{company.name}}
                </div>
            </a>
            <mat-divider></mat-divider>
        </div>
    </div>
    <div *ngIf="companies==null">
        <div id="topjob">
            <div id="left">
                <h2 style="text-align: center; display: inline-block;">You have no companies.</h2>
            </div>
            <div id="right">
                <button mat-raised-button color="primary" (click)="addCompany()">Add company</button>
            </div>
        </div>
    </div>
</div>